*{
    margin: 0;
    padding: 0;
    
}

body{
    font-family: Cabin;
    background-color: #DEDEDE;
    
}

.footer_euro{
    display: flex;
    padding-top:  20px;
}

.footer_euro img{
    width: 30px;
    height: 40px;

}



.footer_euro p{
    color: #F8FDFE;
    font-family: Cabin;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding-right: 24px;

}



.header_img{
    width: 38px;
    height: 38px;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.header{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 55;
   
}

.main{
    position: relative;
    top: 136px;
    
}

.section-1{
    padding: 16px 52px;
    display: flex;
    background: #6D91DC;
    justify-content: space-between;
    height: 35px;
    align-items: center;
}

.logo{
    display: flex;

    align-items: center;
}

.logo span{
    color: #F8FDFE;
    font-family: Rochester;
    font-size: 28px;
    font-weight: 400;
    padding-left: 8px;
}

.section-2{
    display: flex;
    background-color: white;
    justify-content: space-between;
    padding: 0 52px;
    border: 1 solid rgba(255, 255, 255, 0.91);
}

.section-2 p{
    color: #000;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}


.header_list{
    display: flex;
    padding-top: 3px;
    list-style: none;
}
.header_list a{
    
    text-decoration: none;
    color: #000;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-left: 20px;
}





.text{
    color: #1F1F1F;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px; /* 125% */
    padding-top: 32px;
    padding-left: 52px;
}

.line{
    margin: 23px 52px;
    align-self: stretch;
    border-top: 1px solid #A8A8A8;;
}


/*-----------------------------------------------------------------------------------------------*/
form {
    width: 650px;
    height: 1145px;
    border-radius: 4px;
    background: #DEDEDE;
    margin-left: 162px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-direction: row
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    box-sizing: border-box;
    padding-top: 16px;
 
}

.title {
    color: #1F1F1F;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px; /* 120% */
}

.input-container {
    display: flex;
    flex-direction: column;
    width: 416px;
    gap: 8px;
}

.deliveri-container{
    margin-top: 32px;
    display: flex;
    gap: 8px;
    width: 416px;
    height: 150px;
    flex-direction: column;
    box-sizing: border-box;
    

}


.deliveri-container p{
    font-family: Cabin;
    color: #1F1F1F;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px; /* 120% */
    
}

.deliveri-container textarea{
    resize: none;
    padding: 10px;
    color: #8E8E8E;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
    border-radius: 4px;
}


.date {
    margin-top: 32px;
    display: flex;
    align-items: center

}

.date label{
    color: #1F1F1F;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
    padding-right: 19px;
}


.date input{
    color: #1F1F1F;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
}





.input-container label {
    color: #1F1F1F;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
    
}

.input-container input ,.input-container textarea{
    width: 416px;
    border-radius: 4px;
    background: #F5F5F5;
    border: 2px solid 8E8E8E;
    padding: 10px;
    box-sizing: border-box;
    color: #8E8E8E;
    font-size: 16px;
    font-weight: 400;
    resize: none;
    font-family: Cabin;
}

.radios span{
    margin-top: 32px;
    color: #1F1F1F;
    font-family: Cabin;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px; /* 120% */
}

.radio-title{
    color: #8E8E8E;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
    margin-bottom: 24px;
    }






.radios {
    display: flex;
    flex-direction: column;

    
}



.method{
    color: #1F1F1F;
    font-family: Cabin;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px; /* 120% */
    margin-bottom: 24px;
}

.radios label{
    color: #1F1F1F;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
    display: flex;
    gap: 8px;
 
}

/*--------------------------------------------------------------------------*/

.section_2{
    margin-top: 56px;
    margin-left: 130px;
    
}


.right-column{
    display: inline-flex;
    flex-direction: column;
    border-radius: 4px;
    background: #F5F5F5;
    width: 526px;
    height: 456px;
    

}

.title-2{
    margin-top: 40px;
    color: #1F1F1F;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 120% */
    margin-left: 40px;
    }


.line-content{
    align-self: stretch;
    border-top: 1px solid #A8A8A8;
}

.order{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    width: 446px;
    white-space: pre-wrap;
    margin: 32px 40px;
}

.roder_content{
    margin-left: 24px;
    display: flex;
    width: 192px;
    height: 119px;
    flex-direction: column;
    align-items: flex-start;
    
}

.text-section2{
    color:  #1F1F1F;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px; /* 150% */
    
}


.roder_content p {
    overflow: hidden;
    color: #8E8E8E;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
    margin-bottom: 8px;
    }




.price{
    position: absolute;
    top: 0;
    right: -24px;
    color: #E90000;
    font-family: Cabin;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px; /* 133.333% */
}


.total{
    margin: 0 40px;
    width: 446px;
    padding: 10px 0;
    
}

.total-price{
    position: relative;
    top: 0;
    margin-top: 8px;
}


.widget{
    margin: 32px 40px;
    display: flex;
    gap: 16px;
    flex-wrap: wrap
}

.button{
    margin-top: 16px;
    display: flex;
    width: 215px;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px ;
    border-color: #63A1EB;
    background: #63A1EB;

}

.button span{
    color: #F8FDFE;
    text-align: center;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
    }



.button:hover{
    border-radius: 4px ;
    border-color: #3D76BA;
    background: #3D76BA;
}



.reset{
    margin-top: 16px;
    display: flex;
    width: 215px;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px ;
    border-color: #EEE;
    background: #EEE;

}

.reset span{
    color: #1F1F1F;
    text-align: center;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
    }



.reset:hover{
    border-radius: 4px ;
    border-color: #DEDEDE;
    background: #DEDEDE;
}



.footer{
    margin-top: 120px;
    display: flex;
    background-color: #6D91DC;
    justify-content: space-between;
    height: 88px;   
}

.footer p{
    padding: 32px;
    color: #F8FDFE;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
}